.app__SpecialMenu {
    background-color: var(--color-black);
}

.app__SpecialMenu-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.app__SpecialMenu-img {
    margin: 1rem 3.5rem;
}

.app__SpecialMenu-img img {
    width: 400px;
}

.app__SpecialMenu-items {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

.app__SpecialMenu-items h2 {
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;

}

@media screen and (max-width: 1150px) {
    .app__SpecialMenu-items {
        flex-direction: column;
    }

    .app__SpecialMenu-img img {
        width: 100%;
    }
}