.app__header {
    background-color: var(--color-black);
}

.app__header h1 {
    background-color: var(--color-black);   
    color: var(--color-golden);
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 4em;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}
.app__header p.app__wrapper_info-p {
    margin: 2rem 0;
    font-size: 1rem;
    max-width: 453px;
    color: var(--color-grey);
}

@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
}